@import"colors.css";
@import"borders.css";

.button {
    padding: 15px 25px;
    width: auto;
    font-size: auto;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: var(--no-border);
    border-radius: var(--bordered);
    -webkit-border-radius: var(--bordered);
    -moz-border-radius: var(--bordered);
    -ms-border-radius: var(--bordered);
    -o-border-radius: var(--bordered);
}

.button-primary {
    background-color: var(--primary);
    color: whitesmoke;
    box-shadow: 0 9px #15977d;


}

.button-secondary {
    background-color: var(--secondary);
    color: whitesmoke;
    box-shadow: 0 9px rgb(11, 8, 46);



}

.button-success {
    background-color: var(--success);
    color: whitesmoke;
    box-shadow: 0 9px #47aa70;


}

.button-danger {
    background-color: var(--danger);
    color: whitesmoke;
    box-shadow: 0 9px #bb392a;


}

.button-warning {
    background-color: var(--warning);
    color: black;
    box-shadow: 0 9px #d6b223;


}

.button-info {
    background-color: var(--info);
    color: whitesmoke;
    box-shadow: 0 9px #1abc9ccc;


}

.button-light {
    background-color: var(--light);
    color: whitesmoke;
    box-shadow: 0 9px #cbd4da;


}

.button-dark {
    background-color: var(--dark);
    color: whitesmoke;
    box-shadow: 0 9px #253546;

}



/*buttons hover*/


.button-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary);

}

.button-secondary:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary);

}

.button-success:hover {
    background-color: var(--success-hover);
    border-color: var(--success);
}

.button-danger:hover {
    background-color: var(--danger-hover);
    border-color: var(--danger);
}

.button-warning:hover {
    background-color: var(--warning-hover);
    border-color: var(--warning);

}

.button-info:hover {
    background-color: var(--info-hover);
    border-color: var(--info);
}

.button-light:hover {
    background-color: var(--light-hover);
    border-color: var(--light);
}

.button-dark:hover {
    background-color: var(--dark-hover);
    border-color: var(--dark);
}



/*buttons active*/
.button-primary:active {
    background-color: var(--primary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-secondary:active {
    background-color: var(--secondary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-success:active {
    background-color: var(--success-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-danger:active {
    background-color: var(--danger-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-warning:active {
    background-color: var(--warning-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-info:active {
    background-color: var(--info-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-light:active {
    background-color: var(--light-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.button-dark:active {
    background-color: var(--light-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}



/*buttons focus*/

.button-primary:focus {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover)
}

.button-secondary:focus {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover)
}

.button-success:focus {
    background-color: var(--success-hover);
    border-color: var(--success-hover)
}

.button-danger:focus {
    background-color: var(--danger-hover);
    border-color: var(--danger-hover)
}

.button-warning:focus {
    background-color: var(--warning-hover);
    border-color: var(--warning-hover)
}

.button-info:focus {
    background-color: var(--info-hover);
    border-color: var(--info-hover)
}

.button-light:focus {
    background-color: var(--light-hover);
    border-color: var(--light-hover)
}

.button-dark:focus {
    background-color: var(--dark-hover);
    border-color: var(--dark-hover)
}


/*buttons outline*/




.outline-primary {
    background-color: transparent;
    color: black;
    border-color: var(--border-primary);
    box-shadow: 0 9px #15977d;


}

.outline-secondary {
    background-color: transparent;
    color: black;
    border-color: var(--border-secondary);
    box-shadow: 0 9px rgb(11, 8, 46);



}

.outline-success {
    background-color: transparent;
    color: black;
    border-color: var(--border-success);
    box-shadow: 0 9px #47aa70;


}

.outline-danger {
    background-color: transparent;
    color: black;
    border-color: var(--border-success);
    box-shadow: 0 9px #bb392a;

}

.outline-warning {
    background-color: transparent;
    color: black;
    border-color: var(--border-warning);
    box-shadow: 0 9px #d6b223;


}

.outline-info {
    background-color: transparent;
    color: black;
    border-color: #1abc9c;
    box-shadow: 0 9px #1abc9c;

}

.outline-light {
    background-color: transparent;
    color: black;
    border-color: var(--border-light);
    box-shadow: 0 9px #838f97;


}

.outline-dark {
    background-color: transparent;
    color: black;
    border-color: var(--border-dark);
    box-shadow: 0 9px #253546;

}



/*buttons hover*/


.outline-primary:hover {
    color: whitesmoke;
    background-color: var(--primary);
    border-color: var(--border-primary);
}

.outline-secondary:hover {
    color: whitesmoke;
    background-color: var(--secondary);
    border-color: var(--border-secondary);

}

.outline-success:hover {
    color: whitesmoke;
    background-color: var(--success);
    border-color: var(--border-success);
}

.outline-danger:hover {
    color: whitesmoke;
    background-color: var(--danger);
    border-color: var(--border-danger);
}

.outline-warning:hover {
    color: whitesmoke;
    background-color: var(--warning);
    border-color: var(--border-warning);

}

.outline-info:hover {
    color: whitesmoke;
    background-color: var(--info);
    border-color: var(--border-info);

}

.outline-light:hover {
    color: whitesmoke;
    background-color: var(--light);
    border-color: var(--border-light);
}

.outline-dark:hover {
    color: whitesmoke;
    background-color: var(--dark);
    border-color: var(--border-dark);
}



/*buttons active*/
.outline-primary:active {
    background-color: var(--primary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-secondary:active {
    background-color: var(--secondary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-success:active {
    background-color: var(--success-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-danger:active {
    background-color: var(--danger-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-warning:active {
    background-color: var(--warning-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-info:active {
    background-color: var(--info-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-light:active {
    background-color: var(--light-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-dark:active {
    background-color: var(--dark-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}



/*buttons focus*/

.outline-primary:focus {
    color: whitesmoke;
    background-color: var(--primary-hover);
    border-color: var(--primary-hover)
}

.outline-secondary:focus {
    color: whitesmoke;
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover)
}

.outline-success:focus {
    color: whitesmoke;
    background-color: var(--success-hover);
    border-color: var(--success-hover)
}

.outline-danger:focus {
    color: whitesmoke;
    background-color: var(--danger-hover);
    border-color: var(--danger-hover)
}

.outline-warning:focus {
    color: whitesmoke;
    background-color: var(--warning-hover);
    border-color: var(--warning-hover)
}

.outline-info:focus {
    color: whitesmoke;
    background-color: var(--info-hover);
    border-color: var(--info-hover)
}

.outline-light:focus {
    color: whitesmoke;
    background-color: var(--light-hover);
    border-color: var(--light-hover)
}

.outline-dark:focus {
    color: whitesmoke;
    background-color: var(--dark-hover);
    border-color: var(--dark-hover)
}



/*circle buttons*/

.outline-primary {
    background-color: transparent;
    color: black;
    border-color: var(--border-primary);
    box-shadow: 0 9px #15977d;
    
}

.outline-secondary {
    background-color: transparent;
    color: black;
    border-color: var(--border-secondary);
    box-shadow: 0 9px rgb(11, 8, 46);
    



}

.outline-success {
    background-color: transparent;
    color: black;
    border-color: var(--border-success);
    box-shadow: 0 9px #47aa70;
    


}

.outline-danger {
    background-color: transparent;
    color: black;
    border-color: var(--border-success);
    box-shadow: 0 9px #bb392a;
    

}

.outline-warning {
    background-color: transparent;
    color: black;
    border-color: var(--border-warning);
    box-shadow: 0 9px #d6b223;
    


}

.outline-info {
    background-color: transparent;
    color: black;
    border-color: #1abc9c;
    box-shadow: 0 9px #1abc9c;
    


}

.outline-light {
    background-color: transparent;
    color: black;
    border-color: var(--border-light);
    box-shadow: 0 9px #838f97;
    


}

.outline-dark {
    background-color: transparent;
    color: black;
    border-color: var(--border-dark);
    box-shadow: 0 9px #253546;
    

}

/*buttons hover*/


.outline-primary:hover {
    color: whitesmoke;
    background-color: var(--primary);
    border-color: var(--border-primary);

}

.outline-secondary:hover {
    color: whitesmoke;
    background-color: var(--secondary);
    border-color: var(--border-secondary);

}

.outline-success:hover {
    color: whitesmoke;
    background-color: var(--success);
    border-color: var(--border-success);
}

.outline-danger:hover {
    color: whitesmoke;
    background-color: var(--danger);
    border-color: var(--border-danger);
}

.outline-warning:hover {
    color: whitesmoke;
    background-color: var(--warning);
    border-color: var(--border-warning);

}

.outline-info:hover {
    color: whitesmoke;
    background-color: var(--info);
    border-color: var(--border-info);

}

.outline-light:hover {
    color: whitesmoke;
    background-color: var(--light);
    border-color: var(--border-light);
}

.outline-dark:hover {
    color: whitesmoke;
    background-color: var(--dark);
    border-color: var(--border-dark);
}



/*buttons active*/
.outline-primary:active {
    background-color: var(--primary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-secondary:active {
    background-color: var(--secondary-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-success:active {
    background-color: var(--success-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-danger:active {
    background-color: var(--danger-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-warning:active {
    background-color: var(--warning-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-info:active {
    background-color: var(--info-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-light:active {
    background-color: var(--light-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.outline-dark:active {
    background-color: var(--dark-hover);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}



/*buttons focus*/

.outline-primary:focus {
    color: whitesmoke;
    background-color: var(--primary-hover);
    border-color: var(--primary-hover)
}

.outline-secondary:focus {
    color: whitesmoke;
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover)
}

.outline-success:focus {
    color: whitesmoke;
    background-color: var(--success-hover);
    border-color: var(--success-hover)
}

.outline-danger:focus {
    color: whitesmoke;
    background-color: var(--danger-hover);
    border-color: var(--danger-hover)
}

.outline-warning:focus {
    color: whitesmoke;
    background-color: var(--warning-hover);
    border-color: var(--warning-hover)
}

.outline-info:focus {
    color: whitesmoke;
    background-color: var(--info-hover);
    border-color: var(--info-hover)
}

.outline-light:focus {
    color: whitesmoke;
    background-color: var(--light-hover);
    border-color: var(--light-hover)
}

.outline-dark:focus {
    color: whitesmoke;
    background-color: var(--dark-hover);
    border-color: var(--dark-hover)
}