@import "colors.css";
.bar{
    display: flex;
    width: 100%;
    font-size:15pt;
    background-color: rgb(80, 74, 74);
    color: rgb(15, 14, 14);
    min-height: 2.5em;
}
.bar-success{
background-color: var(--success);
}
.bar-danger{
    background-color: var(--danger);
}
.bar-warning{
    background-color: var(--warning);
}
.bar-info{
    background-color: var(--info);
}
.bar-light{
    background-color: var(--light);
}
.bar-dark{
    background-color: var(--dark);
}
/*menu item*/
.menu-item{
    align-self: center;
    margin-left:2em;
    font-size: 15pt;
    list-style: none;
    cursor: pointer;
}
.menu-item:hover{
    background-color: rgba(255, 255, 255, 0.335);
    color:black;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
}
.menu-item:active{
    background-color: rgba(255, 255, 255, 0.335);
    color:black;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
}
.menu-item:focus{
    background-color: rgba(255, 255, 255, 0.335);
    color:black;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
}

