
@import "./media-query/topnav-success.css";
@import "./media-query/topnav-danger.css";
@import "./media-query/topnav-warning.css";
@import "./media-query/topnav-info.css";
@import "./media-query/topnav-light.css";
@import "./media-query/topnav-dark.css";



/* topnav-success */

.topnav-success {
    background-color: var(--success);
    overflow: hidden;
}

.topnav-success a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-success a:hover {
    background-color: rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-success a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-success .icon {
    display: none;
}


/* topnav-danger */

.topnav-danger {
    background-color: var(--danger);
    overflow: hidden;
}

.topnav-danger a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-danger a:hover {
    background-color:rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-danger a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-danger .icon {
    display: none;
}

/* topnav-warning */

.topnav-warning {
    background-color: var(--warning);
    overflow: hidden;
}

.topnav-warning a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-warning a:hover {
    background-color: rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-warning a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-warning .icon {
    display: none;
}


/* topnav-info */

.topnav-info {
    background-color: var(--info);
    overflow: hidden;
}

.topnav-info a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-info a:hover {
    background-color: rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-info a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-info .icon {
    display: none;
}


/* topnav-light */

.topnav-light {
    background-color: var(--light);
    overflow: hidden;
}

.topnav-light a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-light a:hover {
    background-color: rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-light a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-light .icon {
    display: none;
}

/* topnav-dark */

.topnav-dark {
    background-color: var(--dark);
    overflow: hidden;
}

.topnav-dark a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-dark a:hover {
    background-color: rgba(221, 221, 221, 0.267);
    color: black;
}

.topnav-dark a.active {
    background-color: rgba(8, 240, 39, 0.226);
    color: white;
}

.topnav-dark .icon {
    display: none;
}